body{
display: flex;
justify-content: center;
align-items: center;
}
.container{
display: flex;
justify-content: center;
align-items: center;
border: 8px solid;
border-color:rgb(2, 0, 0);
height: 480px;
margin-top: 40px;
background-color:rgb(155, 194, 194);
border-radius: 20px;
}
.containervisor{
height: 40px;
border: 2px solid;
border-color:white;
background-color: black;
color:white;
display :flex;
align-items: center;
border-radius: 20px;
}
.containerNumbers{
display: flex;
justify-content: center;
}
.button{
border: 1px solid;
margin-top:10px ;
margin-right:15px ;
border-color: white;
background-color: black;
display: flex;
align-items: center;
justify-content: center;
height: 60px;
color: white;
border-radius: 10px;
cursor: pointer;
}
.buttonOperador{
color:red;
margin-right:0px ;
}
.buttonResult{
    color: aqua;
}
.botaolimpar{
    border-radius: 20px;
    height: 40px;
    
}

